*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 21px;
	font-family: 'Open Sans';
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Raleway';
	font-size: 2.7em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: #222;
	margin-bottom: 0em;
}

p {
	font-weight: 200;
	color: black;
	margin-block-start: 0em;
	margin-block-end: 1em;
}

.fl {
	float: left;
	margin: 20px;
}

.fr {
	float: right;
	margin: 20px;
}

.hero {
	width: 40%;
	height: 100%;
	position: fixed;
	background: url(https://www.biography.com/.image/t_share/MTE5NDg0MDU1MTUzMTE2Njg3/alan-turing-9512017-1-402.jpg);
	background-size: cover;
	background-position: center 30%;
}

.hero .active {
	background: none;
	transition: 0.2s;
}

.hero .active:before,
.hero .active:after {
	transition: 0.2s;
	top: 0;
}

.hero .active:before {
	transform: rotate(45deg);
}

.hero .active:after {
	transform: rotate(-45deg);
}

.hero .logo {
	color: white;
	font-family: 'Over the Rainbow';
	font-size: 1.9em;
	margin: 0 0 0 85px;
	line-height: 2;
}

.hero nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top: 60px;
	font-family: 'Raleway';
	font-size: 2em;
	display: none;
	background: rgba(0, 0, 0, 0.8);
}

.hero nav ul {
	margin: 0 0 0 25px;
	padding: 0;
}

.hero nav li {
	list-style-type: none;
	margin: 25px 0;
	position: relative;
}

.hero nav a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.content {
	width: 60%;
	min-height: 100%;
	margin-left: 40%;
	padding: 4em 1.5em;
	overflow: hidden;
}

@media (max-width: 768px) {
	html {
		font-size: 18px;
	}

	.hero {
		height: 350px;
		width: 100%;
		display: block;
		position: relative;
		padding: 1px;
	}

	.hero nav {
		font-size: 1.7em;
	}

	.content {
		margin-left: 0;
		padding-top: 0;
		width: 100%;
	}
}

@media (max-width: 480px) {

	img.fl,
	img.fr {
		float: none;
		margin: 10px 0;
		width: 100%;
		height: auto;
	}
}